@import "globalStyles";
@import "mixins";

// 

header {
    height: 100vh;
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    transition: all 0.3s;
    .wrapper {
        @include width-414 {
            width: 100%;
            position: relative;
        }
    }
    input:checked + ul {
        left: 0;
        display: flex;
    }
}

// 

header ul {
    display: flex;
    padding: 20px 0;
    li {
        margin: 0 20px 0 0;
        position: relative;
        a {
            font-size: 20px;
            font-weight: 700;
        }
    }
    @include width-414 {
        display: none;
        background: $darkColor;
        opacity: 0.95;
        position: absolute;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        li {
            transform: scale(2);
        }
    }
}

header li::after {
    content: "";
    display: inline-block;
    width: 10%;
    border-bottom: 2px solid $highlightColor;
    position: absolute;
    top: 25px;
    left: 0;
    opacity: 0;
    margin: 0 0 0 45%;
    transition: all 0.2s;
}

header li:hover::after,
header li:focus-within::after {
    content: "";
    width: 85%;
    margin: 0 0 0 7.5%;
    opacity: 1;
    @include width-414 {
        width: 30%;
        margin: 0 0 0 35%;
    }
 }

input[type=checkbox],
.fa-hamburger {
    display: none;
    @include width-414 {
        display: inline-block;
    }
}

input[type=checkbox] {
     position: absolute;
     right: 50px;
     top: 50px;
     transform: scale(3);
     z-index: 999;
     opacity: 0;
 }

input[type=checkbox]:hover,
input[type=checkbox]:focus-within {
    cursor: pointer;
}

.fa-hamburger {
     color: $highlightColor;
     position: absolute;
     top: 35px;
     right: 37.5px;
     font-size: 40px;
     z-index: 998;
 }

.restaurantTitle {
    display: inline-block;
    span {
        background: $textColor;
        color: $darkColor;
        padding-top: 15px;
        display: inline-block;
        width: 100%;
    }
    @include width-414 {
        padding-left: 7.5%;
    }
}

h1 {
    padding: 50px 0 0 0;
    font-size: 69px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    @include width-545 {
        font-size: 50px;
    }
    @include width-414 {
        font-size: 40px;
        padding-top: 200px;
    }
}

.headerImage {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -150px;
    @include width-950 {
        bottom: -100px;
    }
    @include width-655 {
        display: none;
    }
}

.contactPage header {
    background-image: url(../assets/contact-header.jpg);
}

.blogPage header {
    background-image: url(../assets/blog-header.jpg);
    h1 {
        @include width-414 {
            font-size: 60px;
        }
    }
}

.contactPage header,
.blogPage header {
    height: 70vh;
    background-size: cover;
    @include width-414 {
        height: 100vh;
        position: relative;
        top: -40px;
    }
    h1 {
        @include width-414 {
            text-align: center;
        }
    }
}

// 
