@import "globalStyles";
@import "mixins";

// 

header {
    height: 100vh;
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

// 

header ul {
    display: flex;
    padding: 20px 0;
    li {
        margin: 0 20px 0 0;
        position: relative;
        a {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

header li::after {
    content: "";
    display: inline-block;
    width: 10%;
    border-bottom: 2px solid $highlightColor;
    position: absolute;
    top: 25px;
    left: 0;
    opacity: 0;
    margin: 0 0 0 45%;
    transition: all 0.2s;
}

header li:hover::after,
header li:focus-within::after {
    content: "";
    width: 85%;
    margin: 0 0 0 7.5%;
    opacity: 1;
}
// 

.restaurantTitle {
    display: inline-block;
    span {
        background: $textColor;
        color: $darkColor;
        padding-top: 15px;
        display: inline-block;
        width: 100%;
    }
}

h1 {
    padding: 50px 0 0 0;
    font-size: 69px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    @include width545 {
        font-size: 50px;
    }
    @include smartphone {
        font-size: 40px;
    }
}

.headerImage {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -150px;
    @include ipad {
        bottom: -100px;
    }
    @include small-tablet {
        display: none;
    }
}

.contactPage header {
    background-image: url(../assets/contact-header.jpg);
}

.blogPage header {
    background-image: url(../assets/blog-header.jpg);
}

.contactPage header,
.blogPage header {
    height: 70vh;
    background-size: cover;
}

// 
