@import "globalStyles";
@import "mixins";

// internal links

h2 {
    font-size: 40px;
    font-weight: 300;
    @include width-1205 {
        font-size: 37px;
    }
    @include width-775 {
        font-size: 30px;
    }
}

.internalLinks {
    background: $primaryColor;
    a {
        position: relative;
        &:hover > i,
        &:focus-within > i {
            transform: rotate3d(1, 1, 1, 360deg);
        } 
        @include width-414 {
            display: inline-block;
            width: 100%;
    }
    }
    h2 {
        @include width-414 {
            color: $highlightColor;
        }
    }
}

.internalLinks ul {
    padding: 150px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: 47.5%;
        padding: 25px 0;
        &:nth-child(1) i::after {
            left: -12.5px;
        }
        &:nth-child(2) i::after {
            right: -7.5px;
        }
        &:nth-child(3) i::after {
            left: -13px;
        }
        &:nth-child(4) i::after {
            right: -10.5px;
        }
        @include width-655 {
            width: 100%;
        }
    }
    @include width-655 {
        padding-top: 50px;
        flex-direction: column;
    }
}

.internalLinks h2,
.internalLinks p {
    padding-left: 65px;
    @include width-414 {
        padding-left: 0;
    }
}

.internalLinks i {
    color: $darkColor;
    position: absolute;
    top: 22.5px;
    left: 15px;
    z-index: 1;
    transition: 0.75s;
    @include width-414 {
        color: $highlightColor;
        top: 4px;
        left: 90%;
    }
    &::after {
        content: "";
        display: inline-block;
        padding: 20px;
        background: $highlightColor;
        border-radius: 50%;
        position: absolute;
        top: -45%;
        z-index: -1;
        @include width-414 {
            padding: 0;

        }
    }
}

/* Menu / blog */

.menu {
    background: $secondaryColor;
    padding: 25px 0;
    @include width-700 {
        padding: 0;
    }
}

.burgerContent,
.tryNewContent {
    display: flex;
    justify-content: space-between;
    position: relative;
    img {
        width: 45%;
        @include width-700 {
            width: 100%;
        }
    }
    & > div {
        width: 45%;
        @include width-700 {
            width: 100%;
        }
    }
    @include width-700 {
        flex-wrap: wrap;
    }
}

.burgerContent {
    flex-direction: row;
    align-items: flex-end;
    top: -30px;
    .burgerContentText {
        padding: 0 7.5% 0 0;
        @include width-700 {
            padding: 100px 7.5% 50px 7.5%;
        }
    }
    @include width-1205 {
        top: 0;
    }
}

.tryNewContent {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 0 0 40px 0;
    top: 75px;
    .newContentText {
        padding: 0 0 0 7.5%;
        @include width-700 {
            padding: 100px 7.5%;
        }
    }
    @include width-1205 {
        top: 50px;
    }
}

.burgerContent img {
    box-shadow: 15px 15px $highlightColor;
}

.tryNewContent img {
    position: relative;
    top: -15px;
    box-shadow: -15px 15px $highlightColor;
}

/* Promo */

.promo {
    background: $primaryColor;
    text-align: center;
    padding: 75px 0;
    h2 {
        color: $highlightColor;
    }
    div {
        width: 70%;
        margin: 0 auto;
    }
}

/* Nature space */

.natureSpace {
    background: $primaryColor;
    h2 {
        color: $highlightColor;
    }
    img {
        width: 100%;
        // min-height: 250px;
    }
}

.natureSpaceInfo {
    display: flex;
    padding: 50px 0 65px 0;
}

.natureImage {
    margin-right: 5%;
    width: 25%;
    flex-shrink: 0;
    position: relative;
    left: 15px;
    img {
        box-shadow: -15px 15px $highlightColor;
    }
    @include width-800 {
        display: none;
    }
}

/* Camera Roll */

.cameraRoll {
    background: $secondaryColor;
    ul {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        li {
            display: inline-block;
            width: calc((100% / 3) - 30px);
            &:nth-child(3) {
                @include width-655 {
                    display: none;
                }
            }
            &:nth-child(2) {
                @include width-414 {
                    display: none;
                }
            }
            @include width-655 {
                width: calc(100% / 2 - 30px);
            }
            @include width-414 {
                width: 100%;
            }
        }
    }
    img {
        width: 100%;
    }
}


// blog page

.blogPage {
    background: $primaryColor;
    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        @include width-920 {
            flex-direction: column;
            align-items: center;
        }
    }
    form {
        width: 85%;
        padding: 0;
        margin: 0 auto;
        padding: 100px 0;
    }
    header > .wrapper {
        height: 100%;
    }
    .wrapper {
        height: auto;
    }
}

.mainBlog {
    width: calc((100% / 3) * 2);
    display: flex;
    flex-direction: column;
    h2 {
        color: $highlightColor;
    }
    @include width-920 {
        width: 90%;
    }
}

.latestBlogPost {
    border: 2px solid $highlightColor;
    & > img {
        width: calc(100% - 15px);
        box-shadow: -15px 15px $highlightColor;
        position: relative;
        left: 15px;
        top: -75px;
        @include width-920 {
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: none;
        }
    }
    .employmentOpportunities {
        padding: 0 25px 75px 25px;
        & > p {
            font-weight: 1000;
        }
        p {
            padding: 15px 0;
        }
        @include width-920 {
            padding-top: 75px;
        }
        @include width-414 {
            padding: 0 0 75px 0;
        }
    }
}

.comment {
    display: flex;
    flex-direction: column;
}

.commentContent {
    display: flex;
    justify-content: space-between;
    padding: 0 0 25px 0;
    & p:nth-child(1) {
    color: $highlightColor;
    padding: 0 0 15px 0;
    }
    & p:nth-child(2) {
        @include width-414 {
            height: 200px;
            overflow-y: scroll;
        }
    }
    .comment {
        width: 70%;
    }
    img {
        height: 100px;
        width: auto;
        padding: 0 15px 0 0;
    }
}

.blogSidebar {
    width: calc(100% / 3);
    height: 600px;
    margin: 50px;
    padding: 15px 10px;
    background: $secondaryColor;
    img {
        position: relative;
        width: 100%;
        top: -15px;
        left: -65px;
    }
    & > div {
        padding: 15px 0;
    }
    @include width-920 {
        width: 90%;
        height: auto;
        text-align: center;
        img {
            display: none;
        }
    }
}

.recentPostList {
    list-style: disc;
    padding-left: 20px;
}

// Contact page

.contactPage {
    height: 100vh;
    background: $primaryColor;
    form {
        width: 60%;
    }
}


.contactContent {
    position: relative;
    display: flex;
    @include width-1024 {
        flex-direction: column;
    }
    & > div {
        @include width-1024 {
            width: 100%;
            text-align: center;
        }
    }
    ul {
        @include width-1024 {
            width: 50%;
            margin: 0 auto;
        }
    }
    li {
        @include width-1024 {
            margin: 0 auto;
        }
    }
}

.contactInfo {
    width: 40%;
    padding: 100px 0;
    position: relative;
    > p {
        padding: 0 0 25px 0;
    }
    i {
        color: $highlightColor;
        margin: 0 20px 25px 0;
        &:hover {
            color: lighten($color: $highlightColor, $amount: 25);
            transform: scale(1.05);
            @include width-414 {
                transform: scale(1.6);
            }
        }
        @include width-1024 {
            margin-right: 0;
        }
        @include width-414 {
            transform: scale(1.5);
            margin: 25px 0;
        }
    }
}

.socialMediaLinks {
    display: flex;
    @include width-414 {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 50px 0;
    }
    li {
        @include width-414 {
        width: 50%;
        }
    }
}

.contactContent form {
    background: $secondaryColor;
    box-shadow: 15px 15px $highlightColor;
    position: absolute;
    width: 60%;
    top: -100px;
    right: -25px;
    @include width-1024 {
        position: relative;
        margin: 50px auto;
        right: 0;
        box-shadow: 5px 5px $highlightColor;
    }
    @include width-920 {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    input[type=text] {
        @include width-920 {
            width: 90%;
        }
    }
}