html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
}

body,
a {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #FFD300;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22.4px;
  text-transform: uppercase;
  text-align: center;
  line-height: 41.6px;
  padding-top: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 1%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

div > button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.readMoreButton {
  color: #0F0F0F;
  background: #FFD300;
}

.findOutMore {
  color: #FFFFFF;
  background: #0F0F0F;
}

header {
  height: 100vh;
  background-image: url(../assets/home-header.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

header li {
  position: relative;
}

header li::after {
  content: "";
  display: inline-block;
  width: 10%;
  border-bottom: 2px solid #FFD300;
  position: absolute;
  top: 25px;
  left: 0;
  opacity: 0;
  margin: 0 0 0 45%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header li:hover::after,
header li:focus-within::after {
  content: "";
  width: 85%;
  margin: 0 0 0 7.5%;
  opacity: 1;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

header ul li {
  margin: 0 20px 0 0;
}

header ul li a {
  font-size: 20px;
  font-weight: 700;
}

h1 {
  font-size: 69px;
  font-weight: 600;
  text-transform: uppercase;
}

.restaurantTitle {
  background: #FFFFFF;
  color: #0F0F0F;
  padding-top: 15px;
}

.headerImage {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -150px;
}

@media (max-width: 950px) {
  .headerImage {
    bottom: -100px;
  }
}

@media (max-width: 655px) {
  .headerImage {
    display: none;
  }
}

.contactPage header {
  background-image: url(../assets/contact-header.jpg);
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.blogPage header {
  background-image: url(../assets/blog-header.jpg);
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
}

body,
a {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #FFD300;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22.4px;
  text-transform: uppercase;
  text-align: center;
  line-height: 41.6px;
  padding-top: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 1%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

div > button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.readMoreButton {
  color: #0F0F0F;
  background: #FFD300;
}

.findOutMore {
  color: #FFFFFF;
  background: #0F0F0F;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

@media (max-width: 775px) {
  h2 {
    font-size: 30px;
  }
}

.internalLinks {
  background: #2B331B;
}

.internalLinks a {
  position: relative;
}

.internalLinks a:hover > i,
.internalLinks a:focus-within > i {
  -webkit-transform: rotate3d(1, 1, 1, 360deg);
          transform: rotate3d(1, 1, 1, 360deg);
}

@media (max-width: 414px) {
  .internalLinks a {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 414px) {
  .internalLinks h2 {
    color: #FFD300;
  }
}

.internalLinks ul {
  padding: 150px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.internalLinks ul li {
  width: 47.5%;
  padding: 25px 0;
}

.internalLinks ul li:nth-child(1) i::after {
  left: -12.5px;
}

.internalLinks ul li:nth-child(2) i::after {
  right: -7.5px;
}

.internalLinks ul li:nth-child(3) i::after {
  left: -13px;
}

.internalLinks ul li:nth-child(4) i::after {
  right: -10.5px;
}

@media (max-width: 655px) {
  .internalLinks ul li {
    width: 100%;
  }
}

@media (max-width: 655px) {
  .internalLinks ul {
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.internalLinks h2,
.internalLinks p {
  padding-left: 65px;
}

@media (max-width: 414px) {
  .internalLinks h2,
  .internalLinks p {
    padding-left: 0;
  }
}

.internalLinks i {
  color: #0F0F0F;
  position: absolute;
  top: 22.5px;
  left: 15px;
  z-index: 1;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

@media (max-width: 414px) {
  .internalLinks i {
    color: #FFD300;
    top: 4px;
    left: 90%;
  }
}

.internalLinks i::after {
  content: "";
  display: inline-block;
  padding: 20px;
  background: #FFD300;
  border-radius: 50%;
  position: absolute;
  top: -45%;
  z-index: -1;
}

@media (max-width: 414px) {
  .internalLinks i::after {
    padding: 0;
  }
}

/* Blog */
.blog {
  background: #171B0E;
}

.burgerContent,
.tryNewContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.burgerContent img,
.tryNewContent img {
  width: 45%;
}

.burgerContent > div,
.tryNewContent > div {
  width: 45%;
}

.burgerContent {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: -30px;
}

.burgerContent .burgerContentText {
  padding: 0 7.5% 0 0;
}

.tryNewContent {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 40px 0;
  top: 75px;
}

.tryNewContent .newContentText {
  padding: 0 0 0 7.5%;
}

.burgerContent img {
  -webkit-box-shadow: 15px 15px #FFD300;
          box-shadow: 15px 15px #FFD300;
}

.tryNewContent img {
  position: relative;
  top: -15px;
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
}

/* Promo */
.promo {
  background: #2B331B;
  text-align: center;
  padding: 100px 0;
}

.promo h2 {
  color: #FFD300;
}

.promo div {
  width: 70%;
  margin: 0 auto;
}

/* Nature space */
.natureSpace {
  background: #2B331B;
}

.natureSpace h2 {
  color: #FFD300;
}

.natureSpace img {
  width: 100%;
  min-height: 250px;
}

.natureSpaceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 65px 0;
}

.natureImage {
  margin-right: 5%;
  width: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  left: 15px;
}

.natureImage img {
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
}

/* Camera Roll */
.cameraRoll {
  background: #171B0E;
}

.cameraRoll ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.cameraRoll ul li {
  display: inline-block;
  width: calc((100% / 3) - 30px);
}

@media (max-width: 655px) {
  .cameraRoll ul li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 414px) {
  .cameraRoll ul li:nth-child(2) {
    display: none;
  }
}

@media (max-width: 655px) {
  .cameraRoll ul li {
    width: calc(100% / 2 - 30px);
  }
}

@media (max-width: 414px) {
  .cameraRoll ul li {
    width: 100%;
  }
}

.cameraRoll img {
  width: 100%;
}

.contactPage {
  height: 100vh;
  background: #2B331B;
}

.contactPage form {
  width: 60%;
}

.socialMediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactContent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .contactContent > div {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .contactContent ul {
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .contactContent li {
    margin: 0 auto;
  }
}

.contactInfo {
  width: 40%;
  padding: 100px 0;
}

.contactInfo > p {
  padding: 0 0 25px 0;
}

.contactInfo i {
  color: #FFD300;
  margin: 0 20px 25px 0;
}

.contactInfo i:hover {
  color: #ffe980;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blogPage {
  background: #2B331B;
}

.blogPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPage form {
  width: 85%;
  padding: 0;
  margin: 0 auto;
  padding: 100px 0;
}

.mainBlog {
  width: calc((100% / 3) * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainBlog h2 {
  color: #FFD300;
}

.latestBlogPost {
  border: 2px solid #FFD300;
}

.latestBlogPost > img {
  width: calc(100% - 15px);
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
  position: relative;
  left: 15px;
  top: -75px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment img {
  min-width: 50px;
  min-height: 50px;
}

.comment p:nth-child(1) {
  color: #FFD300;
  padding: 10px 0;
}

.commentContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogSidebar {
  width: calc(100% / 3);
  height: 700px;
  margin: 50px;
  padding: 15px 10px;
  background: #171B0E;
}

.blogSidebar img {
  position: relative;
  width: 100%;
  top: -15px;
  left: -65px;
}

.blogSidebar > div {
  padding: 15px 0;
}

.recentPostList {
  height: 150px;
  overflow-y: scroll;
  list-style: disc;
  padding-left: 20px;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
}

body,
a {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #FFD300;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22.4px;
  text-transform: uppercase;
  text-align: center;
  line-height: 41.6px;
  padding-top: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 1%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

div > button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.readMoreButton {
  color: #0F0F0F;
  background: #FFD300;
}

.findOutMore {
  color: #FFFFFF;
  background: #0F0F0F;
}

form {
  margin: 100px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form button {
  width: 100%;
  background: #FFD300;
}

form button:hover {
  background: #ffe980;
  cursor: pointer;
}

.contactPage form {
  background: #171B0E;
  -webkit-box-shadow: 15px 15px #FFD300;
          box-shadow: 15px 15px #FFD300;
}

label {
  display: none;
}

input[type=text],
textarea {
  margin: 25px 0;
  padding: 5px 5px 5px 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  background: none;
  border-bottom: 2px solid #FFD300;
}

input[type=text] {
  width: 47.5%;
  border: none;
  border-bottom: 2px solid #FFD300;
}

placeholder {
  opacity: 1;
  color: white;
}

textarea {
  width: 100%;
  border: 2px solid #FFD300;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
}

body,
a {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #FFD300;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22.4px;
  text-transform: uppercase;
  text-align: center;
  line-height: 41.6px;
  padding-top: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 1%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

div > button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.readMoreButton {
  color: #0F0F0F;
  background: #FFD300;
}

.findOutMore {
  color: #FFFFFF;
  background: #0F0F0F;
}

footer p {
  padding: 20px 0;
  background: #0F0F0F;
  text-align: center;
}
